<section class="page-phrase sticky-cover" change-menu>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 id="page-title">Free design resources</h1>
      </div>
    </div>
  </div>
</section>
<section id="page-subtitle" class="sticky-cover">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>We love design amazing stuff and sharing the occasional <br class="hide-xs">goodie while working on some great projects.</p>
      </div>
    </div>
  </div>
</section>
<section id="freebies-gallery" class="sticky-cover">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="gallery-row clearfix top-gray-border">
          <a href="#/work-detail" class="gallery-item freebie-gallery ps">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
            <p>Today's freebie is a fantastic contribution from UK based designer Joel Siddall. 200 vector-based micro.</p>
          </a>
          <a href="#/work-detail" class="gallery-item freebie-gallery ps">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
            <p>Today's freebie is a fantastic contribution from UK based designer Joel Siddall. 200 vector-based micro.</p>
          </a>
          <a href="#/work-detail" class="gallery-item freebie-gallery ps">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
            <p>Today's freebie is a fantastic contribution from UK based designer Joel Siddall. 200 vector-based micro.</p>
          </a>
          <a href="#/work-detail" class="gallery-item freebie-gallery ps">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
            <p>Today's freebie is a fantastic contribution from UK based designer Joel Siddall. 200 vector-based micro.</p>
          </a>
          <a href="#/work-detail" class="gallery-item freebie-gallery ps">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
            <p>Today's freebie is a fantastic contribution from UK based designer Joel Siddall. 200 vector-based micro.</p>
          </a>
          <a href="#/work-detail" class="gallery-item freebie-gallery ps">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
            <p>Today's freebie is a fantastic contribution from UK based designer Joel Siddall. 200 vector-based micro.</p>
          </a>
          <a href="#/work-detail" class="gallery-item freebie-gallery ps">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
            <p>Today's freebie is a fantastic contribution from UK based designer Joel Siddall. 200 vector-based micro.</p>
          </a>
          <a href="#/work-detail" class="gallery-item freebie-gallery ps">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
            <p>Today's freebie is a fantastic contribution from UK based designer Joel Siddall. 200 vector-based micro.</p>
          </a>
          <a href="#/work-detail" class="gallery-item freebie-gallery ps">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
            <p>Today's freebie is a fantastic contribution from UK based designer Joel Siddall. 200 vector-based micro.</p>
          </a>
          <a href="#/work-detail" class="gallery-item freebie-gallery ps">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
            <p>Today's freebie is a fantastic contribution from UK based designer Joel Siddall. 200 vector-based micro.</p>
          </a>
          <a href="#/work-detail" class="gallery-item freebie-gallery ps">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
            <p>Today's freebie is a fantastic contribution from UK based designer Joel Siddall. 200 vector-based micro.</p>
          </a>
          <a href="#/work-detail" class="gallery-item freebie-gallery ps">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
            <p>Today's freebie is a fantastic contribution from UK based designer Joel Siddall. 200 vector-based micro.</p>
          </a>
        </div>
        <div class="gallery-page">
          <a href="" class="prev">Previous</a>
          <span>1 of 6 pages</span>
          <a href="" class="next">Next</a>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="ng-cloak" ng-include src="'partials/includes/footer.html'"></footer>