<section class="page-phrase sticky-cover" change-menu>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Let's talk business</h1>
      </div>
    </div>
  </div>
</section>
<section id="page-subtitle" class="sticky-cover">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>We would like to get to know you better and help you <br class="hide-xs">with any project you might have.  Just let us know.</p>
      </div>
    </div>
  </div>
</section>
<section id="get-quote" class="sticky-cover">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-gray-border">
        <div id="quote-form">
          <form action="">
            <div class="clearfix">
              <fieldset>
                <div>
                  <label for="">Your Name</label>
                  <input type="text">
                </div>
                <div>
                  <label for="">Phone</label>
                  <input type="text">
                </div>
                <div>
                  <label for="">Service Interested</label>
                  <div class="select-wrapper">
                    <select id="" name="country">
                      <option value="">Choose Service</option>
                      <option value="">Choose Service</option>
                      <option value="">Choose Service</option>
                    </select>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div>
                  <label for="">Email</label>
                  <input type="email">
                </div>
                <div>
                  <label for="">Company</label>
                  <input type="text">
                </div>
                <div>
                  <label for="">Your Budget</label>
                  <div class="select-wrapper">
                    <select id="" name="country">
                      <option value="">$1000 or less</option>
                      <option value="">$1000 or less</option>
                      <option value="">$1000 or less</option>
                    </select>
                  </div>
                </div>
              </fieldset>
            </div>
            <fieldset>
              <label for="">Project Details</label>
              <textarea name="" id="" cols="30" rows="10"></textarea>
            </fieldset>
            <input type="submit" class="btn-2" value="Request A Quote">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contact-links" class="sticky-cover">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h5>Contact Information</h5>
        <ul class="list-unstyled">
          <li class="contact-links-1"><a href="">+(506) 2591-5492</a></li>
          <li class="contact-links-2"><a href="">hello@xubliminal.com</a></li>
          <li class="contact-links-3"><a href="">Xubliminal</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h5>Main Offices</h5>
        <ul class="list-unstyled">
          <li class="contact-links-4">
            <span></span>
            2nd avenue, 15th St.<br>
            Los Angeles, Cartago<br>
            Costa Rica
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h5>Social Networks</h5>
        <ul class="list-unstyled">
          <li class="contact-links-5"><a href="">Become a Fan</a></li>
          <li class="contact-links-6"><a href="">Follow Us</a></li>
          <li class="contact-links-7"><a href="">Check our Artworks</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="map" class="sticky-cover" gmap lat="51.2374507" lng="-0.5300000"></section>