<section class="page-phrase sticky-cover" change-menu>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Let's talk business</h1>
      </div>
    </div>
  </div>
</section>
<div ng-controller="GetQuoteCtrl as quote">
  <section id="page-subtitle" class="sticky-cover">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p ng-hide="quote.showSuccess">We would like to get to know you better and help you <br class="hide-xs">with any project you might have.  Just let us know.</p>
          <div class="successMessage" ng-show="quote.showSuccess">
            <img src="public/images/success.png" alt="">
            <p>MESSAGE SENT SUCCESSFULLY</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="get-quote" class="sticky-cover">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div id="quote-form">
            <form name="getQuoteForm" 
            ng-submit="quote.submitGetQuote(getQuoteForm.$valid)" 
            ng-class="{ 'submitted': quote.submitted }" 
            novalidate>
            <div class="clearfix">
              <fieldset>
                <div ng-class="{true: 'error'}[quote.submitted && getQuoteForm.name.$invalid]" >
                  <label for="name">¡Hola! My name is: <span>Required</span></label>
                  <input type="text" ng-model="quote.formData.name" name="name" id="name" tabindex="1" required>
                </div>
                <div>
                  <label for="phone">My phone number is:</label>
                  <input type="text" ng-model="quote.formData.phone" name="phone" id="phone" tabindex="3">
                </div>
                <div>
                  <label for="">I'd like to talk about:</label>
                  <div class="dropdown">
                    <a data-toggle="dropdown" data-target="#" tabindex="5">{{quote.servicesText}}</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      <li><a href="" ng-click="quote.setService('Web Design')">Web Design</a></li>
                      <li><a href="" ng-click="quote.setService('Mobile App Design')">Mobile App Design</a></li>
                      <li><a href="" ng-click="quote.setService('Creative Design')">Creative Design</a></li>
                      <li><a href="" ng-click="quote.setService('Building a Brand')">Building a Brand</a></li>
                      <li><a href="" ng-click="quote.setService('My feelings')">My feelings</a></li>
                    </ul>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div ng-class="{true: 'error'}[quote.submitted && getQuoteForm.email.$invalid]" >
                  <label for="email">My email address is: <span>Required</span></label>
                  <input type="email" ng-model="quote.formData.email" tabindex="2" name="email" id="email" required>
                </div>
                <div>
                  <label for="company">I work at: </label>
                  <input type="text" ng-model="quote.formData.company" name="company" id="company" tabindex="4"> 
                </div>
                <div>
                  <label for="">My budget is: </label>
                  <div class="dropdown">
                    <a data-toggle="dropdown" data-target="#" tabindex="6">{{quote.budgetText}}</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      <li><a href="" ng-click="quote.setBudget('Still being worked out')">Still being worked out</a></li>
                      <li><a href="" ng-click="quote.setBudget('$1,000 - $5,000')">$1,000 - $5,000</a></li>
                      <li><a href="" ng-click="quote.setBudget('$5,000 - $10,000')">$5,000 - $10,000</a></li>
                      <li><a href="" ng-click="quote.setBudget('$10,000 - $15,000')">$10,000 - $15,000</a></li>
                      <li><a href="" ng-click="quote.setBudget('$15,000+')">$15,000+</a></li>
                    </ul>
                  </div>
                </div>
              </fieldset>
            </div>
            <div ng-class="{true: 'error'}[quote.submitted && getQuoteForm.message.$invalid]" >
              <label for="message">This is what I want to say: <span>Required</span></label>
              <textarea name="message" id="message" cols="30" rows="10" ng-model="quote.formData.message" tabindex="7" required></textarea>
            </fieldset>
            <button type="submit" class="btn-2" tabindex="8">Request A Quote</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<section id="contact-links" class="sticky-cover">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h5>Contact Information</h5>
        <ul class="list-unstyled">
          <li class="contact-links-1"><a>+(506) 2591-5492</a></li>
          <li class="contact-links-2"><a href="mailto:hello@xubliminal.com">hello@xubliminal.com</a></li>
          <li class="contact-links-3"><a href="skype:xubliminal?chat">Xubliminal</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h5>Main Offices</h5>
        <ul class="list-unstyled">
          <li class="contact-links-4">
            <span></span>
            2nd avenue, 15th St.<br>
            Los Angeles, Cartago<br>
            Costa Rica
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h5>Social Networks</h5>
        <ul class="list-unstyled">
          <li class="contact-links-5"><a href="https://www.facebook.com/xubliminal" target="_blank">Become a Fan</a></li>
          <li class="contact-links-6"><a href="https://twitter.com/xubliminal" target="_blank">Follow Us</a></li>
          <li class="contact-links-7"><a href="https://www.behance.net/xubliminal" target="_blank">Check our Artworks</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="map" class="sticky-cover pikes" >
  <div gmap lat="9.862952" lng="-83.913114"></div>
</section>
<footer class="ng-cloak" ng-include src="'partials/includes/footer.html'"></footer>