<section id="home-services" class="sticky-cover">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>We are a High-End Digital Agency</h2>
        <p>We are the very best professionals conceiving projects that make a difference</p>
        <div class="home-services-wrapper clearfix">
          <div class="home-services">
            <img src="public/images/services-1.jpg" alt="">
            <h4>Web Design</h4>
            <p>We deliver the Fastest, Highest Quality, Top Notch and Professional Web Design &amp; Development Services in the world.</p>
            <a class="btn-4" href="">&gt;</a>
          </div>
          <div class="home-services">
            <img src="public/images/services-2.jpg" alt="">
            <h4>App development</h4>
            <p>Need to go Mobile? We develop and design awesome Applications for phones and tablets including iOS, iPhone, iPad, Android.</p>
            <a class="btn-4" href="">&gt;</a>
          </div>
          <div class="home-services">
            <img src="public/images/services-3.jpg" alt="">
            <h4>Creative Design</h4>
            <p>Our designs will get you better conversions, higher ROI, qualified traffic, and more customers. And you know what all that means?</p>
            <a class="btn-4" href="">&gt;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="recent-work" class="home-carousel sticky-cover">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Recent Work</h2>
        <div id="carousel-recent-work" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="item active">
              <img class="example" src="public/images/recent-work-1.png" alt="">
              <h4>AWANA SITES</h4>
              <p>Need to go Mobile? We develop and design awesome Applications for phones and tablets including iOS, iPhone, iPad, Android.</p>
              <img class="logo" src="public/images/recent-work-logo-1.png" alt="">
            </div>
            <div class="item">
              <img class="example" src="public/images/recent-work-1.png" alt="">
              <h4>AWANA SITES</h4>
              <p>Need to go Mobile? We develop and design awesome Applications for phones and tablets including iOS, iPhone, iPad, Android.</p>
              <img class="logo" src="public/images/recent-work-logo-1.png" alt="">
            </div>
            <div class="item">
              <img class="example" src="public/images/recent-work-1.png" alt="">
              <h4>AWANA SITES</h4>
              <p>Need to go Mobile? We develop and design awesome Applications for phones and tablets including iOS, iPhone, iPad, Android.</p>
              <img class="logo" src="public/images/recent-work-logo-1.png" alt="">
            </div>
            <div class="item">
              <img class="example" src="public/images/recent-work-1.png" alt="">
              <h4>AWANA SITES</h4>
              <p>Need to go Mobile? We develop and design awesome Applications for phones and tablets including iOS, iPhone, iPad, Android.</p>
              <img class="logo" src="public/images/recent-work-logo-1.png" alt="">
            </div>
          </div>

          <ol class="carousel-indicators">
            <li data-target="#carousel-recent-work" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-recent-work" data-slide-to="1"></li>
            <li data-target="#carousel-recent-work" data-slide-to="2"></li>
            <li data-target="#carousel-recent-work" data-slide-to="3"></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="clients" class="home-carousel sticky-cover">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Clients love us</h2>
        <div id="carousel-clients" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="item active">
              <blockquote>
                "The folks at Xubliminal are really special. Unlike others, they quickly understood what we needed and presented us with a variety of suitable designs. We're very happy with the result and we're looking forward to working with them on future projects."
              </blockquote>
              <div>
                <p>Ingo Kegel</p>
                <p>CEO, ej-technologies GmbH</p>
                <p><span>Munich, Germany</span></p>
              </div>
            </div>
            <div class="item">
              <blockquote>
                "The folks at Xubliminal are really special. Unlike others, they quickly understood what we needed and presented us with a variety of suitable designs. We're very happy with the result and we're looking forward to working with them on future projects."
              </blockquote>
              <div>
                <p>Ingo Kegel</p>
                <p>CEO, ej-technologies GmbH</p>
                <p><span>Munich, Germany</span></p>
              </div>
            </div>
            <div class="item">
              <blockquote>
                "The folks at Xubliminal are really special. Unlike others, they quickly understood what we needed and presented us with a variety of suitable designs. We're very happy with the result and we're looking forward to working with them on future projects."
              </blockquote>
              <div>
                <p>Ingo Kegel</p>
                <p>CEO, ej-technologies GmbH</p>
                <p><span>Munich, Germany</span></p>
              </div>
            </div>
            <div class="item">
              <blockquote>
                "The folks at Xubliminal are really special. Unlike others, they quickly understood what we needed and presented us with a variety of suitable designs. We're very happy with the result and we're looking forward to working with them on future projects."
              </blockquote>
              <div>
                <p>Ingo Kegel</p>
                <p>CEO, ej-technologies GmbH</p>
                <p><span>Munich, Germany</span></p>
              </div>
            </div>
          </div>

          <ol class="carousel-indicators">
            <li data-target="#carousel-clients" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-clients" data-slide-to="1"></li>
            <li data-target="#carousel-clients" data-slide-to="2"></li>
            <li data-target="#carousel-clients" data-slide-to="3"></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="brands" class="sticky-cover">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="brands-wrapper" class="clearfix">
          <div class="brand"><img src="public/images/brand-1.png" alt=""></div>
          <div class="brand"><img src="public/images/brand-2.png" alt=""></div>
          <div class="brand"><img src="public/images/brand-3.png" alt=""></div>
          <div class="brand"><img src="public/images/brand-4.png" alt=""></div>
          <div class="brand hide-s"><img src="public/images/brand-5.png" alt=""></div>
          <div class="brand hide-s"><img src="public/images/brand-6.png" alt=""></div>
          <div class="brand hide-s hide-xs"><img src="public/images/brand-7.png" alt=""></div>
        </div>
        <div id="brands-bottom" class="clearfix">
          <div class="brand-bottom-1">
            <span>
              <span class="icon show-xs"></span>
              <strong>6,587</strong>
              <span>Projects Done</span>
            </span>
          </div>
          <div class="brand-bottom-2">
            <span>
              <span class="icon show-xs"></span>
              <strong>24,586</strong>
              <span>Cups of Coffee</span>
            </span>
          </div>
          <div class="brand-bottom-3">
            <span>
              <span class="icon show-xs"></span>
              <strong>2,457,586</strong>
              <span>Lines of Code</span>
            </span>
          </div>
          <div class="brand-bottom-4">
            <span>
              <span class="icon show-xs"></span>
              <strong>2,457,586,154</strong>
              <span>Pixels Created</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>