<div id="services-page">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1 class="logo pull-left"><a href="">Xubliminal</a></h1>
          <nav class="main-nav pull-left hide-xs">
            <ul class="xub-nav">
              <li><a href="#/work">Work</a></li>
              <li class="active"><a href="#/services">Services</a></li>
              <li><a href="">Freebies</a></li>
              <li><a href="">Get A Quote</a></li>
            </ul>
          </nav>
          <div class="pull-right clearfix hide-xs">
            <nav class="contact-nav pull-left hide-s">
              <ul class="xub-nav">
                <li class="contact-menu-item-1"><a href="">Skype</a></li>
                <li class="contact-menu-item-2"><a href="">Email</a></li>
                <li class="contact-menu-item-3"><a href="">Phone</a></li>
              </ul>
            </nav>
            <nav class="lang-nav pull-left">
              <ul class="xub-nav">
                <li class="active"><a href="">ENG</a></li>
                <li><a href="">ESP</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="page-phrase">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>Mind-blowing handcraft services</h1>
        </div>
      </div>
    </div>
  </section>
  <section id="services-links" class="hide-xs sticky-cover">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="xub-nav">
            <li class="active"><a href=""><span class="tab-icon-1">Web <br>Design</span></a></li>
            <li><a href=""><span class="tab-icon-2">App <br>Development</span></a></li>
            <li><a href=""><span class="tab-icon-3">Creative <br>Design</span></a></li>
            <li><a href=""><span class="tab-icon-4">Digital <br>Strategy</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="service-tabs" class="sticky-cover">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="service service-1 clearfix">
            <h2 class="show-xs">Web Design</h2>
            <div class="service-image">
              <img src="public/images/service-1.png" alt="">
            </div>
            <div class="service-text">
              <h2 class="hide-xs">Web Design</h2>
              <p><strong>If you are looking for the best and you look at design as an investment, we are the guys for you.</strong> In everything we do we believe in exceeding our clients expectations. The way we do it is by delivering the fastest, highest quality, top notch and professional web design services in the world. Our custom designs will get your products and services across better than anyone else and will make you money - it's that simple. Period.</p>
            </div>
          </div>
          <div class="service-features">
            <h2>Strategic thinking &amp; digital innovation</h2>
            <div class="service-features-container clearfix">
              <div class="service-feature">
                <img src="public/images/service-1-feature-1.png" alt="">
                <h4>mobile RESPONSIVE <br>DESIGN</h4>
                <p>We create unique, interactive mobile experiences that empower your customers, create new sales channels, and generate clear ROI.</p>
              </div>
              <div class="service-feature">
                <img src="public/images/service-1-feature-2.png" alt="">
                <h4>Ecommerce <br>Website Design</h4>
                <p>We create inspiring and credible online shops that take customers seamlessly from search engine to website and finally, to the checkout. We work as your trusted partner, delivering great web design.</p>
              </div>
              <div class="service-feature">
                <img src="public/images/service-1-feature-3.png" alt="">
                <h4>custom CMS <br>PLATFORMS</h4>
                <p>We create customized content management systems that match your business objectives and deliver unique features that enhance and support your brand.</p>
              </div>
              <div class="service-feature">
                <img src="public/images/service-1-feature-4.png" alt="">
                <h4>user interface <br>design</h4>
                <p>Using extensive research on user behavior we build easy, clean and effective layouts that increase conversion rates and deliver optimal user experiences.</p>
              </div>
              <div class="service-feature">
                <img src="public/images/service-1-feature-5.png" alt="">
                <h4>affiliate <br>MARKETING</h4>
                <p>We are passionate about online marketing and how it can contribute to the growth of your business. We’ll help engage your customers across all digital touch-points to manage and grow relationships.</p>
              </div>
              <div class="service-feature">
                <img src="public/images/service-1-feature-6.png" alt="">
                <h4>social media <br>management</h4>
                <p>Our team can create your social media pages, integrate each media into your website, create content, schedule your posts and manage responses.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="services-gallery" class="sticky-cover">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h2>Some web design projects</h2>
          <div class="gallery">
            <div id="the-services-gallery" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active">
                  <div class="gallery-row clearfix hide-m hide-s hide-xs">
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-1.png" alt="">
                      <h5>Honey Tree</h5>
                    </a>
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-2.png" alt="">
                      <h5>ej Technologies</h5>
                    </a>
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-3.png" alt="">
                      <h5>Weather Flow</h5>
                    </a>
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-4.png" alt="">
                      <h5>kapsule</h5>
                    </a>
                  </div>
                  <div class="gallery-row clearfix show-m show-s hide-xs">
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-1.png" alt="">
                      <h5>Honey Tree</h5>
                    </a>
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-2.png" alt="">
                      <h5>ej Technologies</h5>
                    </a>
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-3.png" alt="">
                      <h5>Weather Flow</h5>
                    </a>
                  </div>
                  <div class="gallery-row clearfix show-xs">
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-1.png" alt="">
                      <h5>Honey Tree</h5>
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="gallery-row clearfix hide-m hide-s hide-xs">
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-1.png" alt="">
                      <h5>Honey Tree</h5>
                    </a>
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-2.png" alt="">
                      <h5>ej Technologies</h5>
                    </a>
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-3.png" alt="">
                      <h5>Weather Flow</h5>
                    </a>
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-4.png" alt="">
                      <h5>kapsule</h5>
                    </a>
                  </div>
                  <div class="gallery-row clearfix show-m show-s hide-xs">
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-1.png" alt="">
                      <h5>Honey Tree</h5>
                    </a>
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-2.png" alt="">
                      <h5>ej Technologies</h5>
                    </a>
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-3.png" alt="">
                      <h5>Weather Flow</h5>
                    </a>
                  </div>
                  <div class="gallery-row clearfix show-xs">
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-1.png" alt="">
                      <h5>Honey Tree</h5>
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="gallery-row clearfix hide-m hide-s hide-xs">
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-1.png" alt="">
                      <h5>Honey Tree</h5>
                    </a>
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-2.png" alt="">
                      <h5>ej Technologies</h5>
                    </a>
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-3.png" alt="">
                      <h5>Weather Flow</h5>
                    </a>
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-4.png" alt="">
                      <h5>kapsule</h5>
                    </a>
                  </div>
                  <div class="gallery-row clearfix show-m show-s hide-xs">
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-1.png" alt="">
                      <h5>Honey Tree</h5>
                    </a>
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-2.png" alt="">
                      <h5>ej Technologies</h5>
                    </a>
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-3.png" alt="">
                      <h5>Weather Flow</h5>
                    </a>
                  </div>
                  <div class="gallery-row clearfix show-xs">
                    <a href="" class="gallery-item">
                      <span class="overlay">
                        <span class="btn-1"></span>
                        <span class="btn-1-border"></span>
                      </span>
                      <img src="public/images/gallery-item-1.png" alt="">
                      <h5>Honey Tree</h5>
                    </a>
                  </div>
                </div>
              </div>
              <ol class="carousel-indicators">
                <li data-target="#the-services-gallery" data-slide-to="0" class="active"></li>
                <li data-target="#the-services-gallery" data-slide-to="1"></li>
                <li data-target="#the-services-gallery" data-slide-to="2"></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="expect" class="sticky-cover">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h2>What to expect from us</h2>
          <div class="expect-items clearfix hide-xs">
            <div class="expect-item">
              <img src="public/images/expect-item-1.png" alt="">
              <h4>Superior Quality</h4>
              <p>We only provide World-class design services that will Exceed your expectations, taking your projects to the next level.</p>
            </div>
            <div class="expect-item">
              <img src="public/images/expect-item-2.png" alt="">
              <h4>Someone who really cares</h4>
              <p>We believe in friendship, loyalty and building long lasting business relationships with our clients. You know how to reach us.</p>
            </div>
            <div class="expect-item">
              <img src="public/images/expect-item-3.png" alt="">
              <h4>Guaranteed work</h4>
              <p>Our clients' 100% satisfaction is our ultimate goal and we strive for excellence on each and every project we deliver.</p>
            </div>
            <div class="expect-item">
              <img src="public/images/expect-item-4.png" alt="">
              <h4>Outstanding Support</h4>
              <p>We pride ourselves in going beyond the normal scope of our responsibilities. We will work on your projects with our blood and sweat.</p>
            </div>
          </div>
          <div class="gallery show-xs">
            <div id="expect-gallery" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner expect-items">
                <div class="item active expect-item">
                  <img src="public/images/expect-item-1.png" alt="">
                  <h4>Superior Quality</h4>
                  <p>We only provide World-class design services that will Exceed your expectations, taking your projects to the next level.</p>
                </div>
                <div class="item expect-item">
                  <img src="public/images/expect-item-2.png" alt="">
                  <h4>Someone who really cares</h4>
                  <p>We believe in friendship, loyalty and building long lasting business relationships with our clients. You know how to reach us.</p>
                </div>
                <div class="item expect-item">
                  <img src="public/images/expect-item-3.png" alt="">
                  <h4>Guaranteed work</h4>
                  <p>Our clients' 100% satisfaction is our ultimate goal and we strive for excellence on each and every project we deliver.</p>
                </div>
                <div class="item expect-item">
                  <img src="public/images/expect-item-4.png" alt="">
                  <h4>Outstanding Support</h4>
                  <p>We pride ourselves in going beyond the normal scope of our responsibilities. We will work on your projects with our blood and sweat.</p>
                </div>
              </div>
              <ol class="carousel-indicators">
                <li data-target="#expect-gallery" data-slide-to="0" class="active"></li>
                <li data-target="#expect-gallery" data-slide-to="1"></li>
                <li data-target="#expect-gallery" data-slide-to="2"></li>
                <li data-target="#expect-gallery" data-slide-to="3"></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer ng-include src="'partials/includes/footer.html'" class="sticky-cover"></footer>
</div>