<section class="page-phrase sticky-cover" change-menu>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Mind-blowing handcraft services</h1>
      </div>
    </div>
  </div>
</section>
<div ng-controller="ServicesCtrl as services">
  <section id="services-links" class="hide-xs sticky-cover">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="xub-nav" role="tablist">
            <li ng-repeat="service in services.services" ng-class="{active: $index == 0}">
              <a data-target="#service-tab-{{$index + 1}}" role="tab" data-toggle="tab">
                <span class="tab-icon-{{$index + 1}}">{{service.title}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="service-tabs" class="sticky-cover">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="tab-content">
            <div ng-repeat="service in services.services" ng-class="{active: $index == 0}" class="tab-pane" id="service-tab-{{$index + 1}}">
              <div class="service service-1 clearfix">
                <h2 class="show-xs">{{service.title}}</h2>
                <div class="service-image">
                  <img src="public/images/service-1.png" alt="">
                </div>
                <div class="service-text">
                  <h2 class="hide-xs">{{service.title}}</h2>
                  <p>{{service.description}}</p>
                </div>
              </div>
              <div class="service-features">
                <h2>{{service.featuresTitle}}</h2>
                <div class="service-features-container clearfix">
                  <div ng-repeat="feature in service.features" class="service-feature">
                    <img src="public/images/service-{{$parent.$index + 1}}-feature-{{$index + 1}}.png" alt="">
                    <h4>{{feature.title}}</h4>
                    <p>{{feature.description}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<section id="services-gallery" class="sticky-cover">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Some web design projects</h2>
        <div class="gallery">
          <div id="the-services-gallery" class="carousel" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
              <div class="item active">
                <div class="gallery-row clearfix hide-m hide-s hide-xs">
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-1.png" alt="">
                    <h5>Honey Tree</h5>
                  </a>
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-2.png" alt="">
                    <h5>ej Technologies</h5>
                  </a>
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-3.png" alt="">
                    <h5>Weather Flow</h5>
                  </a>
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-4.png" alt="">
                    <h5>kapsule</h5>
                  </a>
                </div>
                <div class="gallery-row clearfix show-m show-s hide-xs">
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-1.png" alt="">
                    <h5>Honey Tree</h5>
                  </a>
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-2.png" alt="">
                    <h5>ej Technologies</h5>
                  </a>
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-3.png" alt="">
                    <h5>Weather Flow</h5>
                  </a>
                </div>
                <div class="gallery-row clearfix show-xs">
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-1.png" alt="">
                    <h5>Honey Tree</h5>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="gallery-row clearfix hide-m hide-s hide-xs">
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-1.png" alt="">
                    <h5>Honey Tree</h5>
                  </a>
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-2.png" alt="">
                    <h5>ej Technologies</h5>
                  </a>
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-3.png" alt="">
                    <h5>Weather Flow</h5>
                  </a>
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-4.png" alt="">
                    <h5>kapsule</h5>
                  </a>
                </div>
                <div class="gallery-row clearfix show-m show-s hide-xs">
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-1.png" alt="">
                    <h5>Honey Tree</h5>
                  </a>
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-2.png" alt="">
                    <h5>ej Technologies</h5>
                  </a>
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-3.png" alt="">
                    <h5>Weather Flow</h5>
                  </a>
                </div>
                <div class="gallery-row clearfix show-xs">
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-1.png" alt="">
                    <h5>Honey Tree</h5>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="gallery-row clearfix hide-m hide-s hide-xs">
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-1.png" alt="">
                    <h5>Honey Tree</h5>
                  </a>
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-2.png" alt="">
                    <h5>ej Technologies</h5>
                  </a>
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-3.png" alt="">
                    <h5>Weather Flow</h5>
                  </a>
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-4.png" alt="">
                    <h5>kapsule</h5>
                  </a>
                </div>
                <div class="gallery-row clearfix show-m show-s hide-xs">
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-1.png" alt="">
                    <h5>Honey Tree</h5>
                  </a>
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-2.png" alt="">
                    <h5>ej Technologies</h5>
                  </a>
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-3.png" alt="">
                    <h5>Weather Flow</h5>
                  </a>
                </div>
                <div class="gallery-row clearfix show-xs">
                  <a href="" class="gallery-item">
                    <span class="overlay">
                      <span class="btn-1"></span>
                      <span class="btn-1-border"></span>
                    </span>
                    <img src="public/images/gallery-item-1.png" alt="">
                    <h5>Honey Tree</h5>
                  </a>
                </div>
              </div>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#the-services-gallery" data-slide-to="0" class="active"></li>
              <li data-target="#the-services-gallery" data-slide-to="1"></li>
              <li data-target="#the-services-gallery" data-slide-to="2"></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="expect" class="sticky-cover pikes">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>What to expect from us</h2>
        <div class="expect-items clearfix hide-xs">
          <div class="expect-item">
            <img src="public/images/expect-item-1.png" alt="">
            <h4>Superior Quality</h4>
            <p>We only provide World-class design services that will Exceed your expectations, taking your projects to the next level.</p>
          </div>
          <div class="expect-item">
            <img src="public/images/expect-item-2.png" alt="">
            <h4>Someone who really cares</h4>
            <p>We believe in friendship, loyalty and building long lasting business relationships with our clients. You know how to reach us.</p>
          </div>
          <div class="expect-item">
            <img src="public/images/expect-item-3.png" alt="">
            <h4>Guaranteed work</h4>
            <p>Our clients' 100% satisfaction is our ultimate goal and we strive for excellence on each and every project we deliver.</p>
          </div>
          <div class="expect-item">
            <img src="public/images/expect-item-4.png" alt="">
            <h4>Outstanding Support</h4>
            <p>We pride ourselves in going beyond the normal scope of our responsibilities. We will work on your projects with our blood and sweat.</p>
          </div>
        </div>
        <div class="gallery show-xs">
          <div id="expect-gallery" class="carousel" data-ride="carousel" data-interval="false">
            <div class="carousel-inner expect-items">
              <div class="item active expect-item">
                <img src="public/images/expect-item-1.png" alt="">
                <h4>Superior Quality</h4>
                <p>We only provide World-class design services that will Exceed your expectations, taking your projects to the next level.</p>
              </div>
              <div class="item expect-item">
                <img src="public/images/expect-item-2.png" alt="">
                <h4>Someone who really cares</h4>
                <p>We believe in friendship, loyalty and building long lasting business relationships with our clients. You know how to reach us.</p>
              </div>
              <div class="item expect-item">
                <img src="public/images/expect-item-3.png" alt="">
                <h4>Guaranteed work</h4>
                <p>Our clients' 100% satisfaction is our ultimate goal and we strive for excellence on each and every project we deliver.</p>
              </div>
              <div class="item expect-item">
                <img src="public/images/expect-item-4.png" alt="">
                <h4>Outstanding Support</h4>
                <p>We pride ourselves in going beyond the normal scope of our responsibilities. We will work on your projects with our blood and sweat.</p>
              </div>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#expect-gallery" data-slide-to="0" class="active"></li>
              <li data-target="#expect-gallery" data-slide-to="1"></li>
              <li data-target="#expect-gallery" data-slide-to="2"></li>
              <li data-target="#expect-gallery" data-slide-to="3"></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="ng-cloak" ng-include src="'partials/includes/footer.html'"></footer>