<section class="page-phrase sticky-cover" change-menu>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Our work speaks for itself</h1>
      </div>
    </div>
  </div>
</section>
<section id="page-subtitle" class="sticky-cover">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>We don't rely on cold-calling to get new business, <br class="hide-xs">it's all word-of-mouth recommendations for us.</p>
      </div>
    </div>
  </div>
</section>
<section id="work-gallery" class="sticky-cover">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="gallery-row clearfix">
          <a href="#/work-detail" class="gallery-item">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
          </a>
          <a href="#/work-detail" class="gallery-item">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
          </a>
          <a href="#/work-detail" class="gallery-item">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
          </a>
          <a href="#/work-detail" class="gallery-item">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
          </a>
          <a href="#/work-detail" class="gallery-item">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
          </a>
          <a href="#/work-detail" class="gallery-item">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
          </a>
          <a href="#/work-detail" class="gallery-item">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
          </a>
          <a href="#/work-detail" class="gallery-item">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
          </a>
          <a href="#/work-detail" class="gallery-item">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
          </a>
          <a href="#/work-detail" class="gallery-item">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
          </a>
          <a href="#/work-detail" class="gallery-item">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
          </a>
          <a href="#/work-detail" class="gallery-item">
            <span class="img-wrapper"><img src="public/images/gallery-item-1.png" alt=""></span>
            <span class="overlay">
              <span class="btn-1"></span>
              <span class="btn-1-border"></span>
            </span>
            <h5>Honey Tree</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="ng-cloak" ng-include src="'partials/includes/footer.html'"></footer>