<div id="work-page">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1 class="logo pull-left"><a href="">Xubliminal</a></h1>
          <nav class="main-nav pull-left hide-xs">
            <ul class="xub-nav">
              <li class="active"><a href="#/work">Work</a></li>
              <li><a href="#/services">Services</a></li>
              <li><a href="">Freebies</a></li>
              <li><a href="">Get A Quote</a></li>
            </ul>
          </nav>
          <div class="pull-right clearfix hide-xs">
            <nav class="contact-nav pull-left hide-s">
              <ul class="xub-nav">
                <li class="contact-menu-item-1"><a href="">Skype</a></li>
                <li class="contact-menu-item-2"><a href="">Email</a></li>
                <li class="contact-menu-item-3"><a href="">Phone</a></li>
              </ul>
            </nav>
            <nav class="lang-nav pull-left">
              <ul class="xub-nav">
                <li class="active"><a href="">ENG</a></li>
                <li><a href="">ESP</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="page-phrase">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>Our work speaks for itself</h1>
        </div>
      </div>
    </div>
  </section>
  <section id="page-subtitle">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p>We don't rely on cold-calling to get new business, <br>it's all word-of-mouth recommendations for us.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="work-gallery">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul id="gallery-nav" class="top-gray-border list-unstyled clearfix">
            <li class="active"><a href="">All</a></li>
            <li><a href="">Case Studies</a></li>
            <li><a href="">Websites</a></li>
            <li><a href="">Apps</a></li>
            <li><a href="">Creatives</a></li>
          </ul>
          <div class="gallery-row clearfix">
            <a href="" class="gallery-item">
              <span class="overlay">
                <span class="btn-1"></span>
                <span class="btn-1-border"></span>
              </span>
              <img src="public/images/gallery-item-1.png" alt="">
              <h5>Honey Tree</h5>
            </a>
            <a href="" class="gallery-item">
              <span class="overlay">
                <span class="btn-1"></span>
                <span class="btn-1-border"></span>
              </span>
              <img src="public/images/gallery-item-1.png" alt="">
              <h5>Honey Tree</h5>
            </a>
            <a href="" class="gallery-item">
              <span class="overlay">
                <span class="btn-1"></span>
                <span class="btn-1-border"></span>
              </span>
              <img src="public/images/gallery-item-1.png" alt="">
              <h5>Honey Tree</h5>
            </a>
            <a href="" class="gallery-item">
              <span class="overlay">
                <span class="btn-1"></span>
                <span class="btn-1-border"></span>
              </span>
              <img src="public/images/gallery-item-1.png" alt="">
              <h5>Honey Tree</h5>
            </a>
            <a href="" class="gallery-item">
              <span class="overlay">
                <span class="btn-1"></span>
                <span class="btn-1-border"></span>
              </span>
              <img src="public/images/gallery-item-1.png" alt="">
              <h5>Honey Tree</h5>
            </a>
            <a href="" class="gallery-item">
              <span class="overlay">
                <span class="btn-1"></span>
                <span class="btn-1-border"></span>
              </span>
              <img src="public/images/gallery-item-1.png" alt="">
              <h5>Honey Tree</h5>
            </a>
            <a href="" class="gallery-item">
              <span class="overlay">
                <span class="btn-1"></span>
                <span class="btn-1-border"></span>
              </span>
              <img src="public/images/gallery-item-1.png" alt="">
              <h5>Honey Tree</h5>
            </a>
            <a href="" class="gallery-item">
              <span class="overlay">
                <span class="btn-1"></span>
                <span class="btn-1-border"></span>
              </span>
              <img src="public/images/gallery-item-1.png" alt="">
              <h5>Honey Tree</h5>
            </a>
            <a href="" class="gallery-item">
              <span class="overlay">
                <span class="btn-1"></span>
                <span class="btn-1-border"></span>
              </span>
              <img src="public/images/gallery-item-1.png" alt="">
              <h5>Honey Tree</h5>
            </a>
            <a href="" class="gallery-item">
              <span class="overlay">
                <span class="btn-1"></span>
                <span class="btn-1-border"></span>
              </span>
              <img src="public/images/gallery-item-1.png" alt="">
              <h5>Honey Tree</h5>
            </a>
            <a href="" class="gallery-item">
              <span class="overlay">
                <span class="btn-1"></span>
                <span class="btn-1-border"></span>
              </span>
              <img src="public/images/gallery-item-1.png" alt="">
              <h5>Honey Tree</h5>
            </a>
            <a href="" class="gallery-item">
              <span class="overlay">
                <span class="btn-1"></span>
                <span class="btn-1-border"></span>
              </span>
              <img src="public/images/gallery-item-1.png" alt="">
              <h5>Honey Tree</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer ng-include src="'partials/includes/footer.html'" class="sticky-cover"></footer>
</div>