<div class="waves-1">
  <div class="waves-2">
    <section id="tell-us-more">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Tell us more about your project ideas</h3>
            <p>Do you have a cool idea for a new project and need some design aces to make it happen?</p>
            <a href="#/get-quote" class="btn-2 green external">Get a Free Quote</a>
            <a href="#page-subtitle" offset="75" du-smooth-scroll du-scrollspy class="btn-2 internal">Get a Free Quote</a>
          </div>
        </div>
      </div>
    </section>
    <section id="footer-social">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="list-unstyled">
              <li class="hide-xs">+506. 2591. 5492</li>
              <li class="social-item-4 hide-xs"><a href="skype:xubliminal?chat">Skype</a></li>
              <li class="social-item-1"><a href="https://twitter.com/xubliminal" target="_blank">Twitter</a></li>
              <li class="social-item-2"><a href="https://www.facebook.com/xubliminal" target="_blank">Facebook</a></li>
              <li class="social-item-3"><a href="https://www.behance.net/xubliminal" target="_blank">Behance</a></li>
              <li class="email hide-xs"><a href="mailto:hello@xubliminal.com">hello@xubliminal.com</a></li>
            </ul>
            <div id="handcrafted">
              <h6>Handcrafted in lovely Costa Rica</h6>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>