<div ng-controller="HeaderCtrl" class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <a id="mobile-trigger" href="#mobile-menu" class="pull-left mobile-trigger show-xs"></a>
      <h1 class="logo"><a href="#/">Xubliminal</a></h1>
      <nav class="main-nav pull-left hide-xs">
        <ul class="xub-nav">
          <li><a href="#/work" active-link>Work</a></li>
          <li><a href="#/services" active-link>Services</a></li>
          <!-- <li><a href="#/freebies" active-link>Freebies</a></li> -->
          <li><a href="#/get-quote" active-link>Get A Quote</a></li>
        </ul>
      </nav>
      <div class="pull-right clearfix hide-xs">
        <nav class="contact-nav pull-left hide-s">
          <ul class="xub-nav">
            <li class="contact-menu-item-1"><a href="">Skype</a></li>
            <li class="contact-menu-item-2"><a href="">Email</a></li>
            <li class="contact-menu-item-3"><a href="">Phone</a></li>
          </ul>
        </nav>
        <nav class="lang-nav pull-left">
          <ul class="xub-nav">
            <li class="active"><a href="">ENG</a></li>
            <li><a href="">ESP</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>