<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <a id="mobile-trigger" href="#mobile-menu" class="pull-left mobile-trigger show-xs"></a>
      <h1 class="logo"><a href="#/">Xubliminal</a></h1>
      <nav class="main-nav pull-right hide-xs">
        <ul class="xub-nav">
          <li><a href="#/" active-link>Home</a></li>
          <li><a href="#/work" active-link>Work</a></li>
          <li><a href="#/services" active-link>Services</a></li>
          <li><a href="#/get-quote" active-link>Get A Quote</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>