<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="logo pull-left"><a href="">Xubliminal</a></h1>
      <nav class="main-nav pull-left">
        <ul class="xub-nav">
          <li><a href="">Work</a></li>
          <li class="active"><a href="">Services</a></li>
          <li><a href="">Freebies</a></li>
          <li><a href="">Get A Quote</a></li>
        </ul>
      </nav>
      <div class="pull-right clearfix">
        <nav class="contact-nav pull-left">
          <ul class="xub-nav">
            <li class="contact-menu-item-1"><a href="">Skype</a></li>
            <li class="contact-menu-item-2"><a href="">Email</a></li>
            <li class="contact-menu-item-3"><a href="">Phone</a></li>
          </ul>
        </nav>
        <nav class="lang-nav pull-left">
          <ul class="xub-nav">
            <li class="active"><a href="">ENG</a></li>
            <li><a href="">ESP</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>