<ul class="list-unstyled">
  <li class="mm-selected"><a href="#/" active-link>Home</a></li>
  <li>
    <a href="#/work" active-link>Work</a>
    <ul class="list-unstyled">
      <li><a href="">Web Design</a></li>
      <li><a href="">App Development</a></li>
      <li><a href="">Creative Design</a></li>
      <li><a href="">Digital Strategy</a></li>
    </ul>
  </li>
  <li><a href="#/services" active-link>Services</a></li>
  <li><a href="#/get-quote" active-link>Get a Quote</a></li>
  <li class="mobile-link mobile-link-1"><a href=""><span></span> +506.2591.5492</a></li>
  <li class="mobile-link mobile-link-2"><a href=""><span></span> hello@xubliminal.com</a></li>
  <li class="mobile-link mobile-link-3"><a href=""><span></span> Xubliminal</a></li>
  <li class="lang-menu"><a class="current-lang" href=""><span></span>English</a><a href=""><span></span>Español</a></li>
</ul>