<ul class="list-unstyled">
  <li><a href="#/" active-link>Home</a></li>
  <li><a href="#/work" active-link>Work</a></li>
  <li>
    <a href="#/services" active-link>Services</a>
    <ul class="list-unstyled">
      <li><a href="#/services/web-design">Web Design</a></li>
      <li><a href="#/services/mobile-app-design">Mobile App Design</a></li>
      <li><a href="#/services/creative-designs">Creative Design</a></li>
    </ul>
  </li>
  <li><a href="#/get-quote" active-link>Get a Quote</a></li>
  <li class="mobile-link mobile-link-1"><a><span></span>+506.2591.5492</a></li>
  <li class="mobile-link mobile-link-2"><a href="mailto:hello@xubliminal.com"><span></span>hello@xubliminal.com</a></li>
  <li class="mobile-link mobile-link-3"><a href="skype:xubliminal?chat"><span></span>Xubliminal</a></li>
</ul>