@media (min-width: 1201px) {
  #work-gallery .gallery-item:nth-child(4n) {
    margin-right: 0;
  }

  #work-gallery .gallery-item:nth-child(5),
  #work-gallery .gallery-item:nth-child(9) {
    margin-left: 0;
  }

  #work-gallery .gallery-item:nth-last-child(-n+4) {
    margin-bottom: 0;
  }
}