@media (min-width: 993px) and (max-width: 1200px) {
  .hide-m {
    display: none !important;
  }

  .show-m {
    display: block;
  }
  
  .service-feature {
    padding: 8px 18px 0;
  }

  .gallery-item {
    width: 300px;
  }

  .gallery-item .overlay,
  .gallery-item .img-wrapper {
    height: 200px;
  }

  .gallery-item:nth-child(3n) {
    margin-right: 0;
  }

  .gallery-item:nth-child(4),
  .gallery-item:nth-child(7),
  .gallery-item:nth-child(10) {
    margin-left: 0;
  }

  .gallery-item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }

  #quote-form {
    width: 620px;
  }
}