@media (min-width: 993px) and (max-width: 1200px) {
  .hide-m {
    display: none !important;
  }

  .show-m {
    display: block;
  }
  
  .service-feature {
    padding: 8px 18px 0;
  }

  #quote-form {
    width: 620px;
  }

  .gallery-item {
    width: 33.33%;
  }

  #services-gallery .gallery-item {
    width: 100%;
  }

  .gallery-item .img-wrapper > img {
    min-height: 200px;
  }
}