/***************************
****************************
Key Frames
****************************
***************************/

@-moz-keyframes bounce {
  0% {-moz-transform: translateY(0);transform: translateY(0);}
  20% {-moz-transform: translateY(0); transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);transform: translateY(-30px); }
  50% {-moz-transform: translateY(0);transform: translateY(0); }
  60% { -moz-transform: translateY(-15px); transform: translateY(-15px); }
  80% { -moz-transform: translateY(0); transform: translateY(0); }
  100% {-moz-transform: translateY(0); transform: translateY(0); } 
}

@-webkit-keyframes bounce {
  0% {-webkit-transform: translateY(0);transform: translateY(0); }
  20% {-webkit-transform: translateY(0);transform: translateY(0); }
  40% {-webkit-transform: translateY(-30px); transform: translateY(-30px); }
  50% {-webkit-transform: translateY(0); transform: translateY(0); }
  60% { -webkit-transform: translateY(-15px); transform: translateY(-15px); }
  80% {-webkit-transform: translateY(0); transform: translateY(0); }
  100% { -webkit-transform: translateY(0);transform: translateY(0); } 
}

@-o-keyframes bounce {
  0% { -o-transform: translateY(0);transform: translateY(0); }
  20% {-o-transform: translateY(0);transform: translateY(0); }
  40% {-o-transform: translateY(-30px);transform: translateY(-30px); }
  50% {-o-transform: translateY(0);transform: translateY(0); }
  60% {-o-transform: translateY(-15px);transform: translateY(-15px); }
  80% {-o-transform: translateY(0);transform: translateY(0); }
  100% {-o-transform: translateY(0);transform: translateY(0); } 
}

@-ms-keyframes bounce {
  0% {-ms-transform: translateY(0);transform: translateY(0); }
  20% {-ms-transform: translateY(0);transform: translateY(0); }
  40% {-ms-transform: translateY(-30px);transform: translateY(-30px); }
  50% {-ms-transform: translateY(0);transform: translateY(0); }
  60% {-ms-transform: translateY(-15px);transform: translateY(-15px); }
  80% {-ms-transform: translateY(0);transform: translateY(0); }
  100% {-ms-transform: translateY(0);transform: translateY(0); } 
}

@keyframes bounce {
  0% {transform: translateY(0); }
  20% {transform: translateY(0); }
  40% {transform: translateY(-30px); }
  50% {transform: translateY(0); }
  60% {transform: translateY(-15px); }
  80% {transform: translateY(0); }
  100% {transform: translateY(0); } 
}

@-moz-keyframes animatedBackgroundRight {
  to { background-position: 1398px 0; }
}

@-moz-keyframes animatedBackgroundLeft {
  to { background-position: 0 0; }
}

@-webkit-keyframes animatedBackgroundRight {
  to { background-position: 1398px 0; }
}

@-webkit-keyframes animatedBackgroundLeft {
  to { background-position: 0 0; }
}

@-o-keyframes animatedBackgroundRight {
  to { background-position: 1398px 0; }
}

@-o-keyframes animatedBackgroundLeft {
  to { background-position: 0 0; }
}

@-ms-keyframes animatedBackgroundRight {
  to { background-position: 1398px 0; }
}

@-ms-keyframes animatedBackgroundLeft {
  to { background-position: 0 0; }
}

@keyframes animatedBackgroundRight {
  to { background-position: 1398px 0; }
}

@keyframes animatedBackgroundLeft {
  to { background-position: 0 0; }
}

/***************************
****************************
General Styles
****************************
***************************/  

body {
  background-color: #FFFFFF;
  color: #464646;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 444px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #2b363d;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}

h2, .h2 {
  font-size: 32px;
}

a, a:active, a:hover, a:focus {
  outline: none;
  text-decoration: none;
  color: #2b363d;
}

p {
  line-height: 27px;
}

strong {
  font-weight: 600;
  font-weight: normal;
}

.show-xs,
.show-s,
.show-m,
.show-xl {
  display: none;
}

.sticky-cover {
  position: relative;
  z-index: 97;
}

.top-gray-border {
  border-top: 1px solid #efefef;
}

.bottom-gray-border {
  border-bottom: 1px solid #efefef;
}

.ng-enter {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;

  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  
  opacity: 0;
}

.ng-enter-active {
  opacity: 1;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.animated {
  -webkit-animation: 1s ease both;
  -moz-animation: 1s ease both;
  -ms-animation: 1s ease both;
  -o-animation: 1s ease both;
  animation: 1s ease both; 
}

.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -ms-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce; 
}

.modal-backdrop.in {
  opacity: 0.8;
}

/***************************
****************************
Bottons Styles
****************************
***************************/

.btn-2 {
  background-color: #30d824;
  border: medium none;
  border-radius: 50px;
  color: #ffffff;
  display: inline-block;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.btn-2:hover {
  background-color: #2ac020;
}

.btn-2:link,
.btn-2:visited,
.btn-2:hover,
.btn-2:active {
  color: #FFFFFF !important;
}

.btn-2:disabled,
.btn-2:disabled:hover {
  background-color: #30d824;
  opacity: 0.7;
}

.btn-3 {
  background: url("../images/btn-3-image.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.btn-4 {
  background-color: #30d824;
  border-radius: 25px;
  color: #ffffff;
  display: inline-block;
  font-size: 21px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  width: 38px;
}

.btn-4 i {
  position: relative;
  left: 1px;
}

.btn-4:hover {
  background-color: #2ac020;
  color: #FFFFFF;
}

.btn-5 {
  display: block;
  height: 54px;
  line-height: 54px;
  text-align: center;
  width: 230px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  text-transform: uppercase;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.btn-5 i {
  font-size: 30px;
  vertical-align: sub;
  margin-left: 10px;
}

.btn-5:hover {
  color: #ffffff;
}

/***************************
****************************
Header Styles
****************************
***************************/

header {
  height: 86px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  -webkit-transition-property: background-color, height;
  -o-transition-property: background-color, height;
  transition-property: background-color, height;
  
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;

  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;

  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

header .logo {
  float: left;
  margin-top: 25px;

  -webkit-transition-property: margin-top;
  -o-transition-property: margin-top;
  transition-property: margin-top;
  
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;

  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;

  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.logo a {
  background: url("../images/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  height: 29px;
  text-indent: -9999px;
  width: 155px;

  -webkit-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;

  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;

  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.mobile-trigger {
  background: url("../images/mobile-trigger.png") no-repeat scroll 0 -58px / 29px auto rgba(0, 0, 0, 0);
  height: 29px;
  width: 29px;
  margin-top: 27px;

  -webkit-transition-property: margin-top;
  -o-transition-property: margin-top;
  transition-property: margin-top;
  
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;

  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;

  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.reduce .mobile-trigger {
  margin-top: 22px;
}

.mobile-trigger:hover {
  background-position: 0 -87px;
}

.dark .mobile-trigger {
  background-position: 0 0px;
}

.dark .mobile-trigger:hover {
  background-position: 0 -29px;
}

.xub-nav {
  margin: 0;
  padding-left: 0;
  list-style: none;
  overflow: hidden;
}

.xub-nav li {
  float: left;
}

.xub-nav li a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  text-transform: uppercase;
}

.xub-nav li a:hover,
.xub-nav li.active a,
.xub-nav li.active a:hover {
  color: #FFFFFF;
}

.main-nav .xub-nav li {
  margin: 0 32px;
}

.main-nav .xub-nav li:last-child {
  margin-right: 0;
}

.main-nav .xub-nav li a {
  display: block;
  font-weight: 600;
  height: 85px;
  line-height: 81px;
  border-bottom: 4px solid transparent;

  -webkit-transition-property: color, height, line-height;
  -o-transition-property: color, height, line-height;
  transition-property: color, height, line-height;
  
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;

  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;

  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.main-nav .xub-nav li.active a {
  color: #FFFFFF;
  border-bottom: 4px solid rgba(255, 255, 255, 0.2);
}

.contact-nav .xub-nav li {
  margin-left: 14px;
  line-height: 29px;
}

.contact-nav .xub-nav li a {
  background: url("../images/contact-logos.png") no-repeat 0 0;
  display: inline-block;
  height: 28px;
  text-indent: -9999px;
  vertical-align: middle;
  width: 28px;
}

.contact-nav .xub-nav li.contact-menu-item-1 a {
  background-position: 0 -168px;
}

.contact-nav .xub-nav li.contact-menu-item-1 a:hover {
  background-position: 0 -196px;
}

.contact-nav .xub-nav li.contact-menu-item-2 a {
  background-position: 0 -224px;
}

.contact-nav .xub-nav li.contact-menu-item-2 a:hover {
  background-position: 0 -252px;
}

.contact-nav .xub-nav li.contact-menu-item-3 a {
  background-position: 0 -280px;
}

.contact-nav .xub-nav li.contact-menu-item-3 a:hover {
  background-position: 0 -308px;
}

.lang-nav {
  display: none;
  border-left: 1px solid rgba(255, 255, 255, 0.1);;
  padding-left: 20px;

  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;

  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;

  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.lang-nav ul {
  background: url("../images/dot-2.png") no-repeat 50% 50%;
}

.lang-nav .xub-nav li {
  margin-left: 26px;
}

.lang-nav .xub-nav li:first-child {
  margin-left: 0;
}

#mobile-menu .mm-header {
  height: 65px;
}

#mobile-menu .mm-header h1 {
  background: url("../images/logo-mobile.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
  height: 100%;
  margin: 0;
  text-indent: -9999px;
}

#mobile-menu.mm-menu.mm-hasheader > .mm-panel.mm-list {
  padding-top: 65px;
}

#mobile-menu.mm-menu.mm-hasheader li.mm-subtitle {
  display: block;
}

#mobile-menu .mm-footer {
  height: 62px;
  padding: 0;
  border: none;
}

#mobile-menu .mobile-link a span {
  background: url("../images/contact-logos.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: inline-block;
  height: 28px;
  margin-right: 9px;
  vertical-align: middle;
  width: 28px;
}

#mobile-menu .mobile-link-1 a span {
  background-position: 0 -336px;
}

#mobile-menu .mobile-link-1 a:hover span {
  background-position: 0 -140px;
}

#mobile-menu .mobile-link-2 a span {
  background-position: 0 -364px;
}

#mobile-menu .mobile-link-2 a:hover span {
  background-position: 0 -84px;
}

#mobile-menu .mobile-link-3 a span {
  background-position: 0 -392px;
}

#mobile-menu .mobile-link-3 a:hover span {
  background-position: 0 -28px;
}

#mobile-menu .mm-list > li > a, 
#mobile-menu .mm-list > li > span,
#mobile-menu #mm-1.mm-list > li > a.mm-subclose {
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
}

#mobile-menu #mm-1.mm-list > li > a, 
#mobile-menu #mm-1.mm-list > li > span {
  font-size: 14px;
  color: #7f868a;
}

#mobile-menu .mm-list > li.mobile-link a,
#mobile-menu .mm-list > li.mobile-link span {
  text-transform: none;
  font-size: 13px;
  color: #7f868a;
}

#mobile-menu .mm-list > li > a:hover {
  color: #3dc0e6;
}

#mobile-menu.mm-menu .mm-list > li > a.mm-subopen:after, 
#mobile-menu.mm-menu .mm-list > li > a.mm-subclose:before {
  border-color: #3dc0e6;
}

#mobile-menu.mm-menu .lang-menu {
  padding: 10px 0;
}

#mobile-menu.mm-menu .lang-menu a {
  color: #6f7579;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 4px;
  padding: 0;
  text-align: center;
  width: 50%;
}

#mobile-menu.mm-menu .lang-menu a span {
  background-color: #4c5357;
  border-radius: 100%;
  display: inline-block;
  height: 6px;
  margin-right: 6px;
  margin-top: -2px;
  vertical-align: middle;
  width: 6px;
}

#mobile-menu.mm-menu .lang-menu a:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

#mobile-menu.mm-menu .lang-menu a.current-lang {
  color: #3dc0e6;
}

#mobile-menu.mm-menu .lang-menu a.current-lang span {
  background-color: #3dc0e6;
  width: 10px;
  height: 10px;
}

#mobile-menu.mm-menu .mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after {
  margin-left: 0;
}

#mobile-menu.mm-menu .mm-list > li> a:not(.mm-subopen), 
#mobile-menu.mm-menu .mm-list > li> span {
  border-left: 10px solid transparent;
}

#mobile-menu.mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen), 
#mobile-menu.mm-menu .mm-list > li.mm-selected > span {
  border-left: 10px solid #3dc0e6;
}

/***************************
****************************
Page Phrase Styles
****************************
***************************/

.page-phrase {
  background: url("../images/g-3.png") repeat-x fixed 0 0 #46d9e2;
  height: 227px;
  padding-top: 115px;
}

.page-phrase h1 {
  color: #ffffff;
  font-size: 53px;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
}

.services-page .page-phrase {
  height: 298px;
  margin-bottom: -77px;
}

/***************************
****************************
Services Tabs Styles
****************************
***************************/

#services-links-bottom {
  border-top: 1px solid #F1F1F1;
  padding: 25px 0;
}

#services-links-bottom h2 {
  text-align: center;
  margin-bottom: 25px;
}

#service-tabs,
#services-links-bottom {
  background-color: #FFFFFF;
}

#service-tabs .xub-nav li {
  width: 33.33%;
}

#services-links-bottom .xub-nav li {
  width: 50%;
  border-right: 1px solid #F1F1F1;
}

#services-links-bottom .xub-nav li:last-child {
  border-right: none;
}

#service-tabs .xub-nav li a,
#services-links-bottom .xub-nav li a {
  color: #8f9397;
  display: block;
  font-weight: 600;
  font-size: 14px;
  height: 133px;
  text-align: center;
  cursor: pointer;
  border-bottom: 2px solid #d7dbde;
  position: relative;
}

#services-links-bottom .xub-nav li a {
  border-bottom: none;
}

#service-tabs .xub-nav li a:hover,
#services-links-bottom .xub-nav li a:hover {
  color: #696d71;
}

#service-tabs .xub-nav li.active a,
#services-links-bottom .xub-nav li.active a {
  background-color: #FFFFFF;
  color: #303030;
  border-bottom: 2px solid #30d824;
}

#service-tabs .xub-nav li a span:not(.service-name),
#services-links-bottom .xub-nav li a span:not(.service-name) {
  display: block;
  margin: 0 auto;
  position: relative;
}

#service-tabs .xub-nav li a span.tab-icon-1,
#services-links-bottom .xub-nav li a span.tab-icon-1 {
  background: url("../images/tab-icon-1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 41px;
  width: 51px;
  top: 25px;
}

#service-tabs .xub-nav li a:hover span.tab-icon-1,
#services-links-bottom .xub-nav li a:hover span.tab-icon-1 {
  background-position: 0 -82px;
}

#service-tabs .xub-nav li.active a span.tab-icon-1,
#services-links-bottom .xub-nav li.active a span.tab-icon-1 {
  background-position: 0 -41px;
}

#service-tabs .xub-nav li a span.tab-icon-2,
#services-links-bottom .xub-nav li a span.tab-icon-2 {
  background: url("../images/tab-icon-2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 45px;
  width: 39px;
  top: 21px;
}

#service-tabs .xub-nav li a:hover span.tab-icon-2,
#services-links-bottom .xub-nav li a:hover span.tab-icon-2 {
  background-position: 0 -90px;
}

#service-tabs .xub-nav li.active a span.tab-icon-2,
#services-links-bottom .xub-nav li.active a span.tab-icon-2 {
  background-position: 0 -45px;
}

#service-tabs .xub-nav li a span.tab-icon-3,
#services-links-bottom .xub-nav li a span.tab-icon-3 {
  background: url("../images/tab-icon-3.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 35px;
  width: 35px;
  top: 31px;
}

#service-tabs .xub-nav li a:hover span.tab-icon-3,
#services-links-bottom .xub-nav li a:hover span.tab-icon-3 {
  background-position: 0 -70px;
}

#service-tabs .xub-nav li.active a span.tab-icon-3,
#services-links-bottom .xub-nav li.active a span.tab-icon-3 {
  background-position: 0 -35px;
}

#service-tabs .xub-nav li a span.tab-icon-4,
#services-links-bottom .xub-nav li a span.tab-icon-4 {
  background: url("../images/tab-icon-4.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 45px;
}

#service-tabs .xub-nav li a span.service-name,
#services-links-bottom .xub-nav li a span.service-name {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
}

.service {
  padding-top: 60px;
}

.service .subtitle {
  background: url("../images/curl-2.png") no-repeat scroll 50% 100% rgba(0, 0, 0, 0);
  text-align:  center;
  padding-bottom: 50px;
}

.service .subtitle h2 {
  color: #3dc0e6;
}

.service > .service-text {
  text-align: center;
  width: 760px;
  margin: 0 auto;
  padding: 50px 0;
}

.service > .service-text p:last-child {
  margin-bottom: 0;
}

.service > .service-text p {
  color: #2b363d;
  font-size: 16px;
  line-height: 26px;
}

.service-features {
  padding-bottom: 60px;
}

.service-features > h2 {
  margin-bottom: 52px;
  text-align: center;
}

.service-feature {
  border-right: 1px solid #f4f4f4;
  float: left;
  height: 428px;
  padding: 8px 35px 0;
  text-align: center;
  width: 33.33%;
}

.service-feature:nth-child(3n+3) {
  border-right: none;
}

.service-feature:nth-last-child(-n+3) {
  padding-top: 61px;
  border-top: 1px solid #f4f4f4;
}

.service-feature img {
  margin-bottom: 26px;
}

.service-feature h4 {
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.service-feature p {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.second-description {
  color: #3dc0e6;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  padding: 60px 0;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}

.second-description > div {
  width: 760px;
  margin: 0 auto;
}

/***************************
****************************
Services Galleries Styles
****************************
***************************/

#services-gallery {
  background-color: #ffffff;
  padding: 50px 0;
}

#services-gallery h2 {
  color: #47565f;
  margin-bottom: 50px;
  text-align: center;
}

#services-gallery .gallery-item {
  width: 100%;
  float: none;
}

.gallery-big .close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.gallery-big img {
  width: 100%;
}

.gallery-item {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-align: center;
  width: 25%;
  margin-bottom: 31px;
  cursor: pointer;
}

.gallery-item .img-wrapper {
  background-color: #3dc0e6;
  display: block;
  overflow: hidden;
  position: relative;
}

.gallery-item h5 {
  color: #2d353b;
  font-size: 13px;
  font-weight: 600;
  margin-top: 18px;
  text-align: center;
  text-transform: uppercase;
}

.gallery-item h5 + p {
  margin-top: 10px;
}

.gallery-item:hover h5 {
  color: #30d824;
}

.gallery-item .img-wrapper > img {
  display: inline-block;
  width: 100%;
  background: url("../images/loading.gif") no-repeat center center #F0F0F0;

  -webkit-transition-property: -webkit-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;

  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

.gallery-item:hover .img-wrapper > img {
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.gallery-item .overlay {
  background-color: rgba(61, 192, 230, 0.8);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  top: 0;

  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;

  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;

  opacity: 0;
}

.gallery-item .overlay img {
  position: absolute;
  top: 50%;
  margin-top: -59px;
  left: 50%;
  margin-left: -96px;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

/***************************
****************************
What to expect Styles
****************************
***************************/

#expect {
  background: url("../images/pattern-2.jpg") repeat-x scroll 0 0 #FFFFFF;
  padding: 60px 0;
  border-top: 1px solid #f1f1f1;
}

#expect h2 {
  text-align: center;
  margin-bottom: 45px;
}

.expect-item {
  float: left;
  padding: 0 12px;
  text-align: center;
  width: 25%;
}

.expect-item:first-child {
  padding-left: 0;
}

.expect-item:last-child {
  padding-right: 0;
}

.expect-item img {
  margin-bottom: 18px;
}

.expect-item h4 {
  color: #362f2d;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 21px;
  text-transform: uppercase;
}

.expect-item p {
  font-size: 13px;
  line-height: 21px;
  margin: 0;
}

/***************************
****************************
Footer Styles
****************************
***************************/

footer {
  background: url("../images/footer-bg.png") repeat-x scroll 0 0 #373e42;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 95;
  height: 444px;
}

.waves-1 {
  background-image: url("../images/waves-1.png");
  background-position: 0 0;
  background-repeat: repeat-x;

  -webkit-animation: animatedBackgroundRight 40s linear infinite;
  -moz-animation: animatedBackgroundRight 40s linear infinite;
  -ms-animation: animatedBackgroundRight 40s linear infinite;
  -o-animation: animatedBackgroundRight 40s linear infinite;
  animation: animatedBackgroundRight 40s linear infinite;
}

.waves-2 {
  background-image: url("../images/waves-2.png");
  background-position: 1398px 0;
  background-repeat: repeat-x;
  -webkit-animation: animatedBackgroundLeft 40s linear infinite;
  -moz-animation: animatedBackgroundLeft 40s linear infinite;
  -ms-animation: animatedBackgroundLeft 40s linear infinite;
  -o-animation: animatedBackgroundLeft 40s linear infinite;
  animation: animatedBackgroundLeft 40s linear infinite;
}

#tell-us-more {
  color: #47565f;
  padding-top: 110px;
  text-align: center;
}

#tell-us-more h3 {
  color: #FFFFFF;
  font-size: 29px;
  margin-bottom: 0;
}

#tell-us-more p {
  color: #9b9ea1;
  font-size: 15px;
  line-height: 24px;
  margin: 0 0 20px;
}

#tell-us-more .btn-2 {
  box-shadow: 8px 5px 15px -15px #000;
  font-size: 17px;
  height: 54px;
  line-height: 54px;
  margin: 0 auto;
  width: 233px;
}

#tell-us-more .btn-2.internal {
  display: none;
}

.get-quote-page #tell-us-more .btn-2.external {
  display: none;
}

.get-quote-page #tell-us-more .btn-2.internal {
  display: block;
}

#footer-social {
  background: url("../images/curl.png") no-repeat scroll 50% 0 #373e42;
  margin-top: 22px;
  padding-top: 22px;
}

#footer-social ul {
  border-bottom: 1px solid #282e31;
  margin: 0;
  padding-bottom: 26px;
  text-align: center;
}

#footer-social ul li {
  display: inline-block;
  margin: 0 9px;
  line-height: 38px;
  color: #71777b;
}

#footer-social ul li.email a {
  color: #71777b;
}

#footer-social ul li:not(.email) a {
  background: url("../images/social-footer-icons.png") no-repeat 0 0;
  height: 38px;
  width: 38px;
  display: inline-block;
  text-indent: -9999px;
}

#footer-social ul li.social-item-1 a {
  background-position: 0 0;
}

#footer-social ul li.social-item-1 a:hover {
  background-position: 0 -38px;
}

#footer-social ul li.social-item-2 a {
  background-position: 0 -76px;
}

#footer-social ul li.social-item-2 a:hover {
  background-position: 0 -114px;
}

#footer-social ul li.social-item-3 a {
  background-position: 0 -152px;
}

#footer-social ul li.social-item-3 a:hover {
  background-position: 0 -190px;
}

#footer-social ul li.social-item-4 a {
  background-position: 0 -228px;
}

#footer-social ul li.social-item-4 a:hover {
  background-position: 0 -266px;
}

#handcrafted {
  padding: 20px 0 8px 0;
  text-align: center;
}

#handcrafted h6 {
  background: url("../images/handcrafted.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: inline-block;
  height: 54px;
  text-indent: -9999px;
  width: 245px;
}

/***************************
****************************
Works Page Styles
****************************
***************************/

#work-gallery {
  background-color: #fff;
  padding-bottom: 31px;
}

#page-subtitle {
  background-color: #fff;
  color: #636363;
  font-weight: 300;
  font-size: 20px;
  line-height: normal;
  padding: 30px 0;
  text-align: center;
}

#page-subtitle h2 {
  font-size: 45px;
  color: #636363;
}

#page-subtitle p {
  color: #636363;
  margin: 0;
  line-height: 32px;
}

#gallery-nav {
  margin: 0;
  text-align: center;
  padding: 31px 0;
}

#gallery-nav li {
  display: inline-block;
}

#gallery-nav li a {
  border-radius: 20px;
  color: #707070;
  display: block;
  font-weight: 600;
  font-size: 13px;
  line-height: 31px;
  padding: 0 17px;
  text-transform: uppercase;
}

#gallery-nav li a:hover {
  color: #30d824;
}

#gallery-nav li.active a {
  background-color: #30d824;
  color: #FFFFFF;
}

.gallery-row {
  margin-left: -10px;
  margin-right: -10px;
}

/***************************
****************************
Works Detail Page Styles
****************************
***************************/

#detail-carousel {
  background: url("../images/detail-gallery-bg.jpg") repeat center 0;
  text-align: center;
  padding-top: 175px;
  height: 618px;
}

#detail-carousel .item img {
  margin: 0 auto;
}

#detail-carousel ol {
  bottom: -102px;
  left: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 100%;
}

#detail-carousel ol li {
  background-color: #FFFFFF;
  display: inline-block;
  height: 14px;
  width: 14px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  border-radius: 100%;
  opacity: 0.5;
  margin: 0 4px;
}

#detail-carousel ol li.active {
  opacity: 1;
}

#detail-info {
  background-color: #FFFFFF;
}

.detail-info,
#detail-info aside {
  padding: 40px 0;
}

.detail-info > h5,
.widget > h5 {
  font-weight: 600;
  text-transform: uppercase;
  color: #464646;
  margin-bottom: 35px;
}

.widget > h5 {
  margin-bottom: 10px;
}

.detail-info > p {
  margin-bottom: 60px;
}

.detail-info > p:last-child {
  margin-bottom: 0;
}

.widget {
  border-bottom: 1px solid #efefef;
  padding: 20px 0;
}

.widget:first-child {
  padding-top: 0;
}

.widget:last-child {
  border-bottom: none;
}

.share-list {
  margin: 0;
  overflow: hidden;
}

.share-list li {
  float: left;
  margin-right: 12px;
}

.share-list li:last-child {
  margin-right: 0;
}

.share-list li a {
  background: url("../images/share-icons.png") no-repeat 0 0;
  display: block;
  height: 34px;
  width: 34px;
  text-indent: -9999px;
}

.share-list li.share-list-1 a {
  background-position:  0 -34px;
}

.share-list li.share-list-1 a:hover {
  background-position:  0 0;
}

.share-list li.share-list-2 a {
  background-position:  0 -102px;
}

.share-list li.share-list-2 a:hover {
  background-position:  0 -68px;
}

.share-list li.share-list-3 a {
  background-position:  0 -170px;
}

.share-list li.share-list-3 a:hover {
  background-position:  0 -136px;
}

.share-list li.share-list-4 a {
  background-position:  0 -238px;
}

.share-list li.share-list-4 a:hover {
  background-position:  0 -204px;
}

.widget-services ul {
  margin: 0;
}

.widget-services ul li {
  line-height: 30px;
  font-size: 13px;
}

.widget-contact .btn-2 {
  width: 138px;
  height: 39px;
  line-height: 39px;
  font-size: 15px;
}

.work-page #services-gallery,
.work-detail-page #services-gallery {
  background-color: #FFFFFF;
  padding: 40px 0;
}

/***************************
****************************
Freebies Page Styles
****************************
***************************/

#freebies-gallery {
  background-color: #FFFFFF;
}

#freebies-gallery .gallery-row {
  padding: 52px 0 0 0;
}

.gallery-item.freebie-gallery img {
  margin-bottom: 0;
}

.gallery-item.freebie-gallery h5 {
  height: 30px;
  line-height: 30px;
  margin: 18px 0;
  text-align: left;
  padding-left: 38px;
}

.gallery-item.freebie-gallery.ps h5 {
  background: url("../images/freebie-icon-1.png") no-repeat 0 0;
}

.gallery-item.freebie-gallery.ai h5 {
  background: url("../images/freebie-icon-2.png") no-repeat 0 0;
}

.gallery-item.freebie-gallery p {
  text-align: left;
  line-height: 26px;
  margin: 0;
}

#freebies-gallery .gallery-page {
  margin: 60px 0;
}

.gallery-page {
  background: url("../images/dot-1.png") repeat-x 0 50%;
  overflow: hidden;
  text-align: center;
  line-height: 48px;
}

.gallery-page a {
  background: url("../images/arrow-1.png") no-repeat 0 0 #FFFFFF;
  width: 56px;
  height: 48px;
  text-indent: -9999px;
}

.gallery-page .prev {
  float: left;
  background-position: 0 0;
  padding-right: 8px;
}

.gallery-page .prev:hover {
  background-position: 0 -48px;
}

.gallery-page .next {
  float: right;
  background-position: 100% -96px;
  padding-left: 8px;
}

.gallery-page .next:hover {
  background-position: 100% -144px;
}

.gallery-page span {
  display: inline-block;
  line-height: 26px;
  padding: 0 14px;
  background-color: #FFFFFF;
}

/***************************
****************************
Get Quote Styles
****************************
***************************/

#get-quote {
  background-color: #FFFFFF;
}

#get-quote .row {
  border-bottom: 1px solid #e8ecef;
}

#quote-form {
  padding: 38px 0;
  width: 770px;
  margin: 0 auto;
}

#quote-form label {
  color: #424d54;
  line-height: 40px;
  margin: 0;
  font-weight: normal;
  display: block;
  overflow: hidden;
}

#quote-form label span {
  color: #3dc0e6;
  font-size: 12px;
  float: right;
}

#quote-form .dropdown > a {
  background: url("../images/arrow-6.png") no-repeat scroll 100% 50% #edf0f2;
  border: 1px solid #edf0f2;
  color: #303030;
  display: block;
  font-size: 14px;
  height: 37px;
  line-height: 37px;
  margin: 0;
  padding: 0 20px;
  width: 100%;
  overflow: hidden;
}

#quote-form .dropdown .dropdown-menu {
  width: 100%;
}

#quote-form input[type="text"],
#quote-form input[type="email"],
#quote-form textarea {
  background-color: #edf0f2;
  border: 1px solid #edf0f2;
  color: #303030;
  height: 37px;
  margin: 0;
  padding: 0 20px;
  resize: none;
  width: 100%;
  font-size: 14px;
}

#quote-form input[type="text"]:focus,
#quote-form input[type="email"]:focus,
#quote-form textarea:focus,
#quote-form .dropdown.open > a {
  border: 1px solid #8eddf4;
  box-shadow: 0 0 10px 0 #8eddf4;
  background-color: #FFFFFF;
}

#quote-form textarea {
  padding: 20px;
  height: 115px;
}

#quote-form .submitted .error .ng-invalid {
  background-color: #fde8e5;
}

#quote-form .submitted .error .ng-invalid:focus {
  box-shadow: 0 0 10px 0 #fde8e5;
  border: 1px solid #fde8e5;
}

#quote-form .submitted .error label span {
  color: #30d824;
}

#quote-form div fieldset:nth-child(1),
#quote-form div fieldset:nth-child(2) {
  float: left;
  width: 50%;
}

#quote-form div fieldset:nth-child(1) {
  padding-right: 15px;
}

#quote-form div fieldset:nth-child(2) {
  padding-left: 15px;
}

#quote-form div fieldset > div {
  margin-bottom: 10px;
}

#map > div {
  height: 382px;
}

#contact-links {
  background-color: #FFFFFF;
  padding: 34px 0;
}

#contact-links ul {
  margin-bottom: 0;
}

#contact-links h5 {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#contact-links a {
  color: #464646;
}

#contact-links li {
  margin-bottom: 8px;
}

#contact-links li:last-child {
  margin-bottom: 0;
}

#contact-links li a {
  background: url("../images/contact-links-icons.png") no-repeat 0 0;
  height: 32px;
  line-height: 32px;
  padding-left: 41px;
  display: block;
}

#contact-links .contact-links-1 a {
  background-position: 0 0;
}

#contact-links .contact-links-1 a:hover {
  background-position: 0 -32px;
}

#contact-links .contact-links-2 a {
  background-position: 0 -64px;
}

#contact-links .contact-links-2 a:hover {
  background-position: 0 -96px;
}

#contact-links .contact-links-3 a {
  background-position: 0 -128px;
}

#contact-links .contact-links-3 a:hover {
  background-position: 0 -160px;
}

#contact-links .contact-links-4 {
  position: relative;
  padding-left: 41px;
  line-height: 23px;
}

#contact-links .contact-links-4 span {
  background: url("../images/contact-links-icons.png") no-repeat 0 -192px;
  display: block;
  height: 32px;
  width: 32px;
  position: absolute;
  top: 0;
  left: 0;
}

#contact-links .contact-links-4:hover span {
  background: url("../images/contact-links-icons.png") no-repeat 0 -224px;
}

#contact-links .contact-links-5 a {
  background-position: 0 -256px;
}

#contact-links .contact-links-5 a:hover {
  background-position: 0 -288px;
}

#contact-links .contact-links-6 a {
  background-position: 0 -320px;
}

#contact-links .contact-links-6 a:hover {
  background-position: 0 -352px;
}

#contact-links .contact-links-7 a {
  background-position: 0 -384px;
}

#contact-links .contact-links-7 a:hover {
  background-position: 0 -416px;
}

#quote-form .btn-2 {
  margin: 22px auto 0 auto;
  display: block;
  height: 54px;
  width: 240px;
  font-size: 17px;
}

.successMessage img {
  margin-bottom: 20px;
}

.successMessage p {
  color: #89c981 !important;
  font-size: 18px;
  text-transform: uppercase;
}

/***************************
****************************
Home Page Styles
****************************
***************************/

header.reduce {
  height: 75px;
}

header.reduce .logo {
  margin-top: 22px;
}

header.reduce .main-nav .xub-nav li a {
  height: 74px;
  line-height: 70px;
}

header.reduce .main-nav .xub-nav li.active a {
  height: 74px;
  line-height: 70px;
}

.dark header.reduce .main-nav .xub-nav li.active a {
  height: 75px;
  line-height: 71px;
}

.dark header {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px -6px #000000;
  border-bottom: none;
  overflow: hidden;
}

.dark .logo a {
  background-position: 0 -29px;
}

.dark .main-nav li a {
  border-bottom: 4px solid transparent;
  color: #969fa4;
  height: 86px;
  line-height: 84px;
}

.dark .main-nav li.active a {
  border-bottom: 4px solid #3dc0e6;
  color: #3dc0e6;
}

#home-services {
  background-color: #ffffff;
  padding: 90px 0;
  text-align: center;
}

#home-services h2 {
  color: #47565f;
  font-size: 42px;
  margin-bottom: 25px;
}

#home-services h2 + p {
  font-size: 18px;
  color: #47565f;
  margin: 0;
}

.home-services-wrapper {
  margin-top: 70px;
}

.home-services {
  float: left;
  padding: 0 50px;
  width: 33.33%;
  min-height: 322px;
  position: relative;
}

.home-services img {
  margin-bottom: 20px;
}

.home-services h4,
#recent-work .item h4 {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  color: #47565f;
  margin-bottom: 15px;
}

.home-services p,
.home-carousel p {
  color: #47565f;
  font-size: 15px;
  line-height: 25px;
  margin: 0;
}

.home-services .btn-4 {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -19px;
}

#recent-work {
  background: 
  url("../images/shadow-3.png") repeat-x scroll 0 100%,
  url("../images/shadow-2.png") repeat-x scroll 0 0, 
  url("../images/pattern-1.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
  padding: 40px 0;
  text-align: center;
}

#recent-work .owl-controls {
  margin-top: 0;
}

.home-carousel h2 {
  color: #47565f;
  font-size: 42px;
  margin-bottom: 15px;
}

.owl-pagination .owl-page span {
  width: 8px;
  height: 8px;
  background-color: #afb5b9;
  border: none;
  margin: 0 6px;
}

.owl-pagination .owl-page.active span {
  background-color: #30d824;
  height: 14px;
  width: 14px;
}

.home-carousel .item {
  width: 520px;
  margin: 0 auto;
}

#recent-work .item img {
  margin: 0 auto;
}

#recent-work .item .example {
  margin-bottom: 15px;
  cursor: pointer;
}

#recent-work .item .logo {
  margin: 0 auto;
}

#clients {
  background-color: #FFFFFF;
  padding: 70px 0;
  text-align: center;
}

#clients h2 {
  margin-bottom: 50px;
}

#clients .item {
  width: 600px;
}

#carousel-clients {
  background: url("../images/blockquote.png") no-repeat 50% 0;
  padding: 90px 0 0 0;
}

#clients blockquote {
  border: none;
  font-size: 17px;
  line-height: 29px;
  margin: 0;
}

#clients .item > div {
  background: url("../images/sep-1.png") no-repeat 50% 0;
  margin-top: 35px;
  padding-top: 30px;
}

#clients .item > div p {
  color: #747e84;
  font-size: 13px;
  line-height: 19px;
}

#clients .item > div p:first-child {
  text-transform: uppercase;
  font-weight: 600;
}

#clients .carousel-indicators {
  margin-top: 45px;
}

#brands {
  background: url("../images/pattern-2.jpg") repeat-x scroll 0 0 #FFFFFF;
  border-top: 1px solid #f1f1f1;
}

#brands-wrapper {
  padding: 40px 0;
}

.single-brand {
  text-align: center;
  line-height: 76px;
  height: 76px;
}

.single-brand img {
  display: inline-block;
}

.brand-1 img {
  background: url("../images/brand-1.png") no-repeat 0 0;
  width: 143px;
  height: 17px;
}

.brand-1:hover img {
  background-position: 0 -17px;
}

.brand-2 img {
  background: url("../images/brand-2.png") no-repeat 0 0;
  width: 89px;
  height: 57px;
}

.brand-2:hover img {
  background-position: 0 -57px;
}

.brand-3 img {
  background: url("../images/brand-3.png") no-repeat 0 0;
  width: 151px;
  height: 27px;
}

.brand-3:hover img {
  background-position: 0 -27px;
}

.brand-4 img {
  background: url("../images/brand-4.png") no-repeat 0 0;
  width: 137px;
  height: 56px;
}

.brand-4:hover img {
  background-position: 0 -56px;
}

.brand-5 img {
  background: url("../images/brand-5.png") no-repeat 0 0;
  width: 113px;
  height: 73px;
}

.brand-5:hover img {
  background-position: 0 -73px;
}

.brand-6 img {
  background: url("../images/brand-6.png") no-repeat 0 0;
  width: 61px;
  height: 62px;
}

.brand-6:hover img {
  background-position: 0 -62px;
}

.brand-7 img {
  background: url("../images/brand-7.png") no-repeat 0 0;
  width: 135px;
  height: 21px;
}

.brand-7:hover img {
  background-position: 0 -21px;
}

.brand-8 img {
  background: url("../images/brand-8.png") no-repeat 0 0;
  width: 106px;
  height: 51px;
}

.brand-8:hover img {
  background-position: 0 -51px;
}

.brand-9 img {
  background: url("../images/brand-9.png") no-repeat 0 0;
  width: 142px;
  height: 20px;
}

.brand-9:hover img {
  background-position: 0 -20px;
}

.brand-10 img {
  background: url("../images/brand-10.png") no-repeat 0 0;
  width: 66px;
  height: 64px;
}

.brand-10:hover img {
  background-position: 0 -64px;
}

.brand-11 img {
  background: url("../images/brand-11.png") no-repeat 0 0;
  width: 117px;
  height: 42px;
}

.brand-11:hover img {
  background-position: 0 -42px;
}

.brand-12 img {
  background: url("../images/brand-12.png") no-repeat 0 0;
  width: 111px;
  height: 33px;
}

.brand-12:hover img {
  background-position: 0 -33px;
}

.brand-13 img {
  background: url("../images/brand-13.png") no-repeat 0 0;
  width: 135px;
  height: 26px;
}

.brand-13:hover img {
  background-position: 0 -26px;
}

.brand-14 img {
  background: url("../images/brand-14.png") no-repeat 0 0;
  width: 100px;
  height: 42px;
}

.brand-14:hover img {
  background-position: 0 -42px;
}

.brand-15 img {
  background: url("../images/brand-15.png") no-repeat 0 0;
  width: 139px;
  height: 40px;
}

.brand-15:hover img {
  background-position: 0 -40px;
}

.brand-16 img {
  background: url("../images/brand-16.png") no-repeat 0 0;
  width: 118px;
  height: 47px;
}

.brand-16:hover img {
  background-position: 0 -47px;
}

.brand-17 img {
  background: url("../images/brand-17.png") no-repeat 0 0;
  width: 103px;
  height: 72px;
}

.brand-17:hover img {
  background-position: 0 -72px;
}

.brand-18 img {
  background: url("../images/brand-18.png") no-repeat 0 0;
  width: 166px;
  height: 20px;
}

.brand-18:hover img {
  background-position: 0 -20px;
}

.brand-19 img {
  background: url("../images/brand-19.png") no-repeat 0 0;
  width: 168px;
  height: 28px;
}

.brand-19:hover img {
  background-position: 0 -28px;
}

.brand-20 img {
  background: url("../images/brand-20.png") no-repeat 0 0;
  width: 100px;
  height: 64px;
}

.brand-20:hover img {
  background-position: 0 -64px;
}

.brand-21 img {
  background: url("../images/brand-21.png") no-repeat 0 0;
  width: 104px;
  height: 54px;
}

.brand-21:hover img {
  background-position: 0 -54px;
}

#brands-bottom {
  border-top: 1px solid #f1f1f1;
  padding: 40px 0;
}

#brands-bottom > div {
  float: left;
  width: 25%;
  height: 94px;
  line-height: 94px;
  border-right: 1px solid #f1f1f1;
  text-align: center;
}

#brands-bottom > div:first-child {
  text-align: left;
}

#brands-bottom > div:last-child {
  border-right: none;
  text-align: right;
}

#brands-bottom > div > span {
  background: url("../images/brands-bottom-icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: inline-block;
  height: 43px;
  padding-left: 54px;
  text-align: left;
  vertical-align: middle;
}

#brands-bottom > div > span > * {
  display: block;
  line-height: 23px;
  color: #47565f;
}

#brands-bottom > div > span > strong {
  font-size: 24px;
  font-weight: 700;
}

#brands-bottom > div > span > span {
  font-size: 14px;
}

#brands-bottom > .brand-bottom-1 > span {
  background-position: 0 0;
}

#brands-bottom > .brand-bottom-2 > span {
  background-position: 0 -43px;
}

#brands-bottom > .brand-bottom-3 > span {
  background-position: 0 -86px;
}

#brands-bottom > .brand-bottom-4 > span {
  background-position: 0 -129px;
}

#home-top {
  background-color: #FFFFFF;
}

#home-top .bgs {
  height: auto;
}

#home-top .bg {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 4s linear 0s;
  transition: opacity 4s linear 0s;
  width: 100%;
}

#home-top .bg.show {
  opacity: 1;
  -webkit-transition: opacity 4s linear 0s;
  transition: opacity 4s linear 0s;
}

#home-top .bg1 {
  background: url("../images/home/home-bg-0.png") repeat-x 0 50%;
}

#home-top .bg2 {
  background: url("../images/home/home-bg-1.png") repeat-x 0 50%;
}

#home-top .bg3 {
  background: url("../images/home/home-bg-2.png") repeat-x 0 50%;
}

#home-top .bg4 {
  background: url("../images/home/home-bg-3.png") repeat-x 0 50%;
}

#home-top .bg5 {
  background: url("../images/home/home-bg-4.png") repeat-x 0 50%;
}

#home-top div {
  height: 100%;
}

.scroll-down {
  display: block;
  height: 26px;
  width: 100%;
  text-indent: -9999px;
}

.scroll-down a {
  background: url("../images/arrow-5.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  height: 16px;
  width: 26px;
  margin: 0 auto;
  
  -webkit-transition-property: scale;
  -o-transition-property: scale;
  transition-property: scale;
  
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}


#home-top .scroll-down {
  position: absolute;
  bottom: 30px;
  height: auto;
  left: 0;
}

#home-carousel .item > div {
  height: auto;
}

#home-carousel .item .item-wrapper {
  position: relative;
  height: 100%;
}

#home-carousel .item img {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -180px;
}

#home-carousel .item:nth-child(1) img {
  margin-left: -143px;
}

#home-carousel .item:nth-child(2) img {
  margin-left: -137px;
}

#home-carousel .item:nth-child(3) img {
  margin-left: -150px;
}

#home-carousel .item:nth-child(4) img {
  margin-left: -131px;
}

#home-carousel .item:nth-child(5) img {
  margin-left: -160px;
}

#home-carousel .item h3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  margin-top: -20px;
}

#home-carousel .item .btn-5 {
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin-left: -115px;
}

#home-carousel .carousel-indicators {
  bottom: auto;
  left: auto;
  margin: 0;
  width: auto;
  right: 0;
  top: 50%;
  margin-top: -35px;
  width: 14px;
}

#home-carousel .carousel-indicators li:last-child {
  margin-bottom: 0
}

#home-carousel .carousel-indicators li:first-child {
  margin-top: 0;
}

#home-carousel .carousel-indicators li {
  background-color: rgba(39, 48, 51, 0.3);
  border: medium none;
  display: block;
  height: 8px;
  margin: 15px auto;
  width: 8px;
}

#home-carousel .carousel-indicators li:hover {
  background-color: rgba(39, 48, 51, 0.7);
}

#home-carousel .carousel-indicators li.active {
  height: 14px;
  width: 14px;
  background-color: #FFFFFF;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}