@media (max-width: 767px) {
  .hide-xs {
    display: none !important;
  }

  .show-xs {
    display: block;
  }

  body {
    padding-bottom: 489px;
  }

  .page-phrase {
    height: 228px;
    padding-top: 99px;
  }

  .page-phrase h1 {
    font-size: 35px;
    line-height: normal;
  }

  .services-page .page-phrase {
    height: 228px;
    padding-top: 99px;
    margin-bottom: 0;
  }

  .service {
    padding-bottom: 41px;
    padding-top: 29px;
  }

  .service > * {
    float: none;
  }

  .service > h2 {
    text-align: center;
    margin-bottom: 44px;
  }

  .service > .service-image {
    text-align: center;
    width: 100%;
  }

  .service > .service-text {
    width: 100%;
    text-align: center;
  }

  .service-feature {
    border: none !important;
    border-top: 1px solid #f4f4f4 !important;
    float: none;
    height: auto;
    padding: 31px 0 41px;
    width: 100%;
  }

  .service-feature:first-child {
    border-top: none !important;
    padding-top: 0 !important;
  }

  .service-features {
    padding: 30px 0 44px 0;
  }

  #services-gallery {
    padding: 32px 0 30px 0;
  }

  .gallery-row {
    text-align: center;
  }

  .gallery-item {
    display: block;
    float: none;
    width: 290px;
    margin: 0 auto 31px;
  }

  .gallery-item:first-child {
    margin: 0 auto 31px auto;
  }

  .gallery-item:last-child {
    margin: 0 auto;
  }

  .gallery-item .overlay {
    height: 193px;
  }

  #services-gallery h2 {
    margin-bottom: 30px;
  }

  #services-gallery .gallery .carousel-indicators {
    margin-top: 34px;
  }

  .gallery-item img {
    margin-bottom: 16px;
  }

  #expect {
    padding: 45px 0 74px;
  }

  #expect h2 {
    margin-bottom: 39px;
  }

  .expect-item {
    float: none;
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .item.expect-item img {
    display: inline-block;
  }

  #expect-gallery .carousel-indicators {
    margin-top: 34px;
  }

  #page-subtitle {
    font-size: 16px;
    line-height: 27px;
  }

  footer {
    height: 489px;
  }

  #footer-social {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  #page-subtitle h2 {
    font-size: 30px;
  }

  #detail-carousel {
    height: auto;
    padding-bottom: 120px;
    padding-top: 166px;
  }

  #quote-form {
    margin: 0;
    width: 100%;
  }

  #quote-form div fieldset:nth-child(1), 
  #quote-form div fieldset:nth-child(2) {
    float: none;
    width: 100%;
    padding: 0;
  }

  #contact-links ul {
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 23px;
    margin-bottom: 23px;
  }

  #contact-links .row > div:last-child ul {
    margin-bottom: 0;
    border-bottom: none;
  }
}