@media (max-width: 767px) {
  .circle {
      background: url("../images/home/more-clouds.png") no-repeat 50% 220px;
  }

  .hide-xs {
    display: none !important;
  }

  .show-xs {
    display: block;
  }

  body {
    padding-bottom: 0;
    overflow-x: hidden;
  }

  header .logo {
    float: none;
  }

  header .logo a {
    margin: 0 auto;
  }

  .page-phrase,
  .services-page .page-phrase {
    padding-top: 105px;
  }

  .page-phrase h1 {
    font-size: 35px;
    line-height: normal;
  }

  .service > h2 {
    text-align: center;
    margin-bottom: 44px;
  }

  .service > .service-image {
    text-align: center;
    width: 100%;
  }

  .service > .service-text {
    width: 100%;
    text-align: center;
  }

  .service-feature {
    border: none !important;
    border-top: 1px solid #f4f4f4 !important;
    float: none;
    height: auto;
    padding: 31px 0 41px;
    width: 100%;
  }

  .service-feature:first-child {
    border-top: none !important;
    padding-top: 0 !important;
  }

  #services-gallery {
    padding: 32px 0 30px 0;
  }

  #the-services-gallery .owl-controls,
  #recent-work .owl-controls,
  #clients .owl-controls {
    display: none !important;
  }

  .gallery-row {
    text-align: center;
    margin: 0;
  }

  .gallery-item {
    display: block;
    float: none;
    width: 100%;
    margin: 0 auto 31px;
    padding: 0;
  }

  #services-gallery .gallery-item {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  #services-gallery h2 {
    margin-bottom: 30px;
  }

  #services-gallery .gallery .carousel-indicators {
    margin-top: 34px;
  }

  #expect h2 {
    margin-bottom: 39px;
  }

  .expect-item {
    float: none;
    width: 100%;
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
  }

  .item.expect-item img {
    display: inline-block;
  }

  #expect-gallery .carousel-indicators {
    margin-top: 34px;
  }

  #page-subtitle {
    font-size: 16px;
    line-height: 27px;
  }

  footer {
    height: auto;
    position: static;
  }

  #page-subtitle h2 {
    font-size: 30px;
  }

  #detail-carousel {
    height: auto;
    padding-bottom: 120px;
    padding-top: 100px;
    position: relative;
    top: -2px;
  }

  #quote-form {
    margin: 0;
    width: 100%;
  }

  #quote-form div fieldset > div {
    width: 100%;
    float: none;
    padding: 0 !important;
  }

  #contact-links ul {
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 23px;
    margin-bottom: 23px;
  }

  #contact-links .row > div:last-child ul {
    margin-bottom: 0;
    border-bottom: none;
  }

  #home-services {
    padding: 80px 0;
  }

  #home-services h2 {
    font-size: 36px;
  }

  #home-services h2 + p {
    font-size: 16px;
  }

  .home-services-wrapper {
    margin: 0;
  }

  .home-services {
    padding: 29px 0 68px 0;
    float: none;
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
  }

  .home-services:last-child {
    margin-bottom: 0;
    padding-bottom: 38px;
    border-bottom: none;
  }

  .home-services .btn-4 {
    bottom: 29px;
  }

  .home-services:last-child .btn-4 {
    bottom: 0;
  }

  .home-carousel h2 {
    font-size: 36px;
  }

  .home-carousel .item {
    margin: 0;
    width: 100%;
  }

  #clients .item {
    margin: 0;
    width: 100%;
  }

  #brands-bottom > div {
    width: 50%;
    height: auto;
    line-height: normal;
  }

  #brands-bottom > div:first-child,
  #brands-bottom > div:last-child {
    text-align: center;
  }

  #brands-bottom > div:first-child,
  #brands-bottom > div:nth-child(2) {
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 37px;
  }

  #brands-bottom > div:nth-child(2) {
    border-right: none;
  }

  #brands-bottom > div:last-child,
  #brands-bottom > div:nth-child(3) {
    padding-top: 37px;
  }

  #brands-bottom > div > span {
    background: no-repeat;
    text-align: center;
    height: auto;
    padding: 0;
  }

  #brands-bottom > div > span > .icon {
    background: url("../images/brands-bottom-icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 43px;
    width: 43px;
    display: inline-block;
    margin-bottom: 10px;
  }

  #brands-bottom > .brand-bottom-1 > span > .icon {
    background-position: 0 0;
  }

  #brands-bottom > .brand-bottom-2 > span > .icon {
    background-position: 0 -43px;
  }

  #brands-bottom > .brand-bottom-3 > span > .icon {
    background-position: 0 -86px;
  }

  #brands-bottom > .brand-bottom-4 > span > .icon {
    background-position: 0 -129px;
  }

  #brands-bottom > div > span > strong {
    font-size: 18px;
  }

  .second-description > div {
    width: 100%;
  }

  #home-carousel {
    margin-top: 60px;
  }

  #home-carousel .carousel-indicators {
    display: none !important;
  }

  #home-carousel .item h3 {
    font-size: 16px;
  }

  #home-carousel .item:nth-child(5) h3 {
    margin-top: -35px;
  }

  #home-carousel .item img {
    max-width: 100%;
    margin-top: 20px;
  }

  #home-carousel .item .btn-5 {
    margin-top: 20px;
  }

  .gallery-item .img-wrapper > img {
    min-height: 193px;
  }
}